* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.announcement-bar {
  background-color: #1a1a1a;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.announcement-bar .greeting p {
  margin: 0 !important;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .logo {
  padding: 24px;
  font-size: 32px;
  text-align: center;
}

hr {
  background: #242424;
  margin: 0 !important;
}

.header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .navbar .navlinks {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 1rem;
}

.navbar .navlinks a {
  text-decoration: none;
  color: #000;
}

.navbar .navlinks .navitem {
  list-style-type: none;
  font-size: 14px;
}

.navitem .search-btn {
  padding-inline: 10px;
}

.slider .carousel-inner .carousel-item img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
}

section.hero >* p {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 10px;
}

section.hero >* p span {
  font-weight: 500;
}

.hero-btn {
  padding: 10px 20px;
  background: #1a1a1a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.categories {
  padding: 40px;
}

.categories>* img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

section.categories>* .col-md-4 {
  margin-block: 10px;
}

section.categories .row .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navitem input {
  padding: 5px;
  outline: none;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: none;
}

.navitem button {
  padding: 5px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.product-cards {
  padding: 20px;
}

section.product-cards .row .col-xl-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
}

section.product-cards .row .col-xl-3 >* {
  cursor: pointer;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram {
  padding: 20px;
}

section.instagram .insta-images img {
  background: transparent;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

section.instagram .row .col-xl-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #a7a5a5a1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-part-1 {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-link {
  border-bottom: 1px solid #000;
}

.footer-part-2 {
  background: #1a1a1a;
  color: #fff;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 40px;
}

.footer-part-2 p {
  margin: 0 !important;
}

@media screen and (max-width: 991px) {
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header .navbar {
    flex-direction: row;
    justify-content: flex-end;
    padding: 24px;
  }

  .header .navbar .navlinks {
    flex-direction: column;
    align-items: flex-end;
  }

  .header hr {
    display: none;
  }
}

.men-section .col-xl-3 {
  display: flex;
  justify-content: center;
}

.all-products .col-xl-3 {
  margin-block: 10px;
}

.women-section .col-xl-3 {
  margin-block: 10px;
}

.col-xl-3 >* .cart-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #1a1a1a;
  color: #fff;
  display: none;
  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.col-xl-3 >*:hover .cart-btn {
  display: block;
  position: absolute;
  bottom: 30%;
}

.cart-btn:active {
  background: transparent;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  font-weight: 500;
}

.des-pg-cart-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #1a1a1a;
  color: #fff;
}

.cart-table >* table{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

.cart-table >* table thead tr{
  display: flex;
  border-bottom: 1px solid #000;
}

.cart-table >* table thead tr th{
  width: calc(223px);
  display: flex;
  justify-content: center;
  padding: 15px;
}

.cart-table >* table tbody tr{
  display: flex;
  align-items: center;
}

.cart-table >* table tbody tr td{
  width: calc(223px);
  display: flex;
  justify-content: center;
  padding: 15px;
}

.cart-table >* table tbody tr >* p{
  margin: 0 !important;
}