* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.announcement-bar {
  background-color: #1a1a1a;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.announcement-bar .greeting p {
  margin: 0 !important;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .logo {
  padding: 24px;
  font-size: 32px;
  text-align: center;
}

hr {
  background: #242424;
  margin: 0 !important;
}

.header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .navbar .navlinks {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 1rem;
}

.navbar .navlinks a {
  text-decoration: none;
  color: #000;
}

.navbar .navlinks .navitem {
  list-style-type: none;
  font-size: 14px;
}

.navitem .search-btn {
  padding-inline: 10px;
}

.slider .carousel-inner .carousel-item img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

section.hero >* p {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 10px;
}

section.hero >* p span {
  font-weight: 500;
}

.hero-btn {
  padding: 10px 20px;
  background: #1a1a1a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.categories {
  padding: 40px;
}

.categories>* img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

section.categories>* .col-md-4 {
  margin-block: 10px;
}

section.categories .row .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navitem input {
  padding: 5px;
  outline: none;
  border-left: 1px solid #adadad;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  border-right: none;
}

.navitem button {
  padding: 5px;
  border-right: 1px solid #adadad;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  border-left: 1px solid #adadad;
}

.product-cards {
  padding: 20px;
}

section.product-cards .row .col-xl-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
}

section.product-cards .row .col-xl-3 >* {
  cursor: pointer;
}

section.product-cards .row .col-xl-3 >* p.card-text {
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram {
  padding: 20px;
}

section.instagram .insta-images img {
  background: transparent;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

section.instagram .row .col-xl-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #a7a5a5a1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-part-1 {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-link {
  border-bottom: 1px solid #000;
}

.footer-part-2 {
  background: #1a1a1a;
  color: #fff;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 40px;
}

.footer-part-2 p {
  margin: 0 !important;
}

@media screen and (max-width: 991px) {
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header .navbar {
    flex-direction: row;
    justify-content: flex-end;
    padding: 24px;
  }

  .header .navbar .navlinks {
    flex-direction: column;
    align-items: flex-end;
  }

  .header hr {
    display: none;
  }
}

.men-section .col-xl-3 {
  display: flex;
  justify-content: center;
}

.all-products .col-xl-3 {
  margin-block: 10px;
}

.women-section .col-xl-3 {
  margin-block: 10px;
}

.col-xl-3 >* .cart-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background: #1a1a1a;
  color: #fff;
  display: none;
  transition: color .2s ease-in-out, background .2s ease-in-out;
}

.col-xl-3 >*:hover .cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 82%;
  left: 5%;
}

.cart-btn:active {
  background: transparent;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  font-weight: 500;
}

.des-pg-cart-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #1a1a1a;
  color: #fff;
  transition: background .2s ease-in-out, color .2s ease-in-out;
}

.des-pg-cart-btn:active {
  background: transparent;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  font-weight: 500;
}

.cart-table >* table{
  display: flex;
  flex-direction: column;
  border: 1px solid #adadad;
}

.cart-table >* table thead, 
.cart-table >* table tbody {
  width: 100%;
}

.cart-table >* table thead tr{
  display: flex;
}

.cart-table >* table thead tr th{
  padding: 15px;
}

.cart-table >* table tbody tr{
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #adadad;
}

.cart-table >* table thead tr th:nth-child(1),
.cart-table >* table tbody tr td:nth-child(1) {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-table >* table thead tr th:nth-child(2),
.cart-table >* table tbody tr td:nth-child(2),
.cart-table >* table thead tr th:nth-child(3),
.cart-table >* table tbody tr td:nth-child(3),
.cart-table >* table thead tr th:nth-child(4),
.cart-table >* table tbody tr td:nth-child(4) {
  width: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-table >* table tbody tr td{
  padding: 15px;
}

.cart-table >* table tbody tr >* p{
  margin: 0 !important;
  display: flex;
  gap: 20px;
}

.cart-table >* table tbody tr >* p span {
  display: flex;
  border: none;
  width: 25px;
  height: 23px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out, color .2s ease-in-out;
}

.cart-table >* table tbody tr >* p span:active {
  background: transparent;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

section.cart-table >* .del-item-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  background: #1a1a1a;
  color: #fff;
  transition: background .2s ease-in-out, color .2s ease-in-out;
}

section.cart-table >* .del-item-btn:active {
  background: transparent;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}

section.cart-table >* select.method-selector {
  width: 100%;
}

section.cart-table >* .promocode-sec p.promocode-sec-heading,
section.cart-table >* .checkout-sec p.checkout-sec-heading {
  font-weight: 500;
  font-size: 24px;
  margin-top: 1rem;
}

section.cart-table >* table.checkout-table {
  padding: 10px;
}

section.cart-table >* table.checkout-table tbody.checkout-table-body tr {
  border: none;
}

section.cart-table >* table.checkout-table tr {
  display: flex;
  justify-content: space-between;
  padding: 0px !important;
  padding: 10px;
}

section.cart-table >* .order-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

section.cart-table >* button.order-btn {
  background: #1a1a1a;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
}

section.about-sec >* .blog-1, 
section.about-sec >* .blog-2,
section.about-sec >* .blog-3,
section.about-sec >* .blog-4 {
  margin-block: 50px;
}

section.about-sec >* .blog-para {
  height: 100%;
  display: flex;
  align-items: center;
}

section.about-sec >* p {
  line-height: 38px;
  margin: 0;
}

section.about-sec >* figure {
  margin: 0;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideFromTop {
  animation: slideFromTop 1.5s ease-in-out;
}

.animate-slideFromRight {
  animation: slideFromRight 2s ease-in-out;
}

.animate-slideFromLeft {
  animation: slideFromLeft 2.5s ease-in-out;
}

.animate-slideFromBottom {
  animation: slideFromBottom 3.5s ease-in-out;
}

section.stores {
  margin-block: 70px;
}

section.stores >* .btn-map {
  width: 100%;
  padding: 8px;
  border: none;
  background: #1a1a1a;
  color: #fff;
}

section.stores >* .leaflet-touch .leaflet-control-attribution {
  display: none;
}